* {
  margin: 0;
  padding: 0;
}

.Login h1 {
  display: flex;
  justify-content: space-between;
}

.Login .settingsButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 0;
}
