* {
  margin: 0;
}

.feedback-points {
  padding: 8px 0;
  text-align: center;
}

.feedback-buttons {
  margin: 4px;
  width: 100px;
}

.feedback-body p {
  padding: 5px 0;
  text-align: center;
}

.feedback-body {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 20px;
}

.feedback {
  display: flex;
  height: 400px;
  justify-content: center;
  padding: 80px;
}
