* {
  margin: 0;
}

.Game .answerButton {
  margin: 10px;
}

.Game .wrongAnswer {
  background-color: red;
  border: 3px solid red;
  box-shadow: 0 0 3px red , 0 0 10px red;
}

.Game .correctAnswer {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  box-shadow: 0 0 3px rgb(6, 240, 15) , 0 0 10px rgb(6, 240, 15);
}
