body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 :root {
   --main-color: #ececec;
   --secondary-color: #181725;
   --accent-color: #0fbd75;
   --orange:#fc9303;
   --azul: #006dfb;
   --roxo: #801dd1;
 }

 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }
 